################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/MeanMax/MeanMax/Debug
/MeanMax/MeanMax/.vs/MeanMax/v14
/MeanMax/MeanMax/MeanMax.vcxproj.filters
/MeanMax/MeanMax/MeanMax.vcxproj
/MeanMax/MeanMax/MeanMax.VC.VC.opendb
/MeanMax/MeanMax/MeanMax.VC.db
/MeanMax/MeanMax/MeanMax.sln
/MeanMax/MeanMax/x64/Debug/MeanMax.tlog
/MeanMax/MeanMax/x64/Debug
/MeanMax/MeanMax/MeanMax.vcxproj.user
/BottersOfTheGalaxy/obj/Debug
/BottersOfTheGalaxy/.vs/BottersOfTheGalaxy/v15
